/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: #115ff4;
}

/** header design */
#start {
  background-color: #8d2ab5;
  padding: 1em 3em;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 1em;
  margin: 0.5em 0;
}

#start:hover {
  background-color: #74119c;
}

.success {
  background-color: #28a200;
}

.hidden {
  display: none;
}

#header {
  font-family: 'Movie Monster', sans-serif;
  font-size:80px;
  color: white;
}

#loading {
  margin-top: 100px;
  width: 200px;
  height: 200px;
}


/** gameboard design */
#jeopardy {
  margin-top: 20px;
  background-color: #060ce9;
  color: white;
  table-layout: fixed;
}

#jeopardy td {
  height: 80px;
}

#jeopardy td:hover {
  background-color:#115ff4;
}
