/* general */
body {
  background-color: #115ff4;
}

.hidden {
  display: none;
}

/* header design */
#start {
  background-color: #8d2ab5;
  padding: 1em 3em;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 1em;
  margin: 0.5em 0;
}

#start:hover {
  background-color: #74119c;
}

#header {
  font-family: 'Movie Monster', sans-serif;
  font-size:80px;
  color: white;
}

/* spinner design */
#loading {
  margin-top: 100px;
  width: 200px;
  height: 200px;
}

/* gameboard design */
#jeopardy {
  margin-top: 20px;
  background-color: #060ce9;
  color: white;
  table-layout: fixed;
  height: 500px;
}

#jeopardy td:hover {
  background-color:#115ff4;
}

.success {
  background-color: #28a200;
}
